* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-color: cornflowerblue;
    
}

.titulo{
    width: 350px;
    height: 250px;
    background-color: chartreuse;
    padding: 10px;
    color: blueviolet;
}
h4{
    display: flex;
    margin-right: 70px;
}

.imagem1{
    width: 35px;
    border-radius: 30px;
    align-self: flex-start;
    
  
}

.imgenome{
    width: 350px;
    height: 250px;
    background-color: rgb(102, 18, 98);
    display: flex;
    font-size: 10px;
    color: white;
    align-items: center;
    flex-direction: column;
    
    
   
    
 }

.paragrafo4{
    display: flex;
    align-items: center;
    font-size: 15px;
    align-self: flex-end;
    align-items: center;
}

img h1 h2{
   
    
 
    
}


 

.coltonverif{
    color: rgb(160, 28, 187);
  
}