* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-color: white;
    
}

.primeiracaixa{
    border-radius: 10px;
    display: flex ;
    padding: 40px;
    border-radius: 10px;
}
.font{
    font-size: 30px;
}

.titulo {
    width: 350px;
    height: 250px;
    background-color: white;
    padding: 10px;
    color: blueviolet;
    padding: 50px;
    font-size: px;
}

.principal{
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 8px;
    margin-right: 130px;
    padding: 25px;
 
    

}
.imagem1{
    width: 35px;
    border-radius: 30px;
    display: flex;
    
   
  
}

.imgenome{
    width: 350px;
    height: 220px;
    background-color: rgb(102, 18, 98);
    display: flex;
    font-size: 10px;
    color: white;
    align-items: center;
    flex-direction: column ;
    gap: 15px;
    border-radius: 10px;
    
    
 }

.paragrafo4{
    display: flex;
    font-size: 15px;
    padding: 15px;

}


.coltonverif{
    color: rgb(160, 28, 187);
    font-size: 14px;
  
}
h1{
   
}